<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.hotkeys</string>
	<key>connections</key>
	<dict>
		<key>1176DB39-DA46-4A99-9EC1-5714CEAF2D93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0AD0E85-064D-484D-B02B-4F22B52746AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C3DD7D9-EAF8-4ADA-9CCD-9410BFD1ED3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45428D70-674B-430A-8730-BC39129B2475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64C79242-CB05-4A7C-8BC8-317A500E20D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C59D52EA-AB16-43AA-AE75-0FCE464663AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51C6721-4379-4786-96AE-E74841C09CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE59D3C5-ACBE-4868-9085-1025E520A186</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Stein</string>
	<key>description</key>
	<string>Re-Map Home/End to Windows Style</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HomeEnd</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>→</string>
				<key>keycode</key>
				<integer>124</integer>
				<key>keymod</key>
				<integer>11534336</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F0AD0E85-064D-484D-B02B-4F22B52746AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1176DB39-DA46-4A99-9EC1-5714CEAF2D93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E51C6721-4379-4786-96AE-E74841C09CF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>→</string>
				<key>keycode</key>
				<integer>124</integer>
				<key>keymod</key>
				<integer>11665408</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>DE59D3C5-ACBE-4868-9085-1025E520A186</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>115</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>↖</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5C3DD7D9-EAF8-4ADA-9CCD-9410BFD1ED3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>←</string>
				<key>keycode</key>
				<integer>123</integer>
				<key>keymod</key>
				<integer>11534336</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>45428D70-674B-430A-8730-BC39129B2475</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>←</string>
				<key>keycode</key>
				<integer>123</integer>
				<key>keymod</key>
				<integer>11665408</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C59D52EA-AB16-43AA-AE75-0FCE464663AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>115</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>↖</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>64C79242-CB05-4A7C-8BC8-317A500E20D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Maps Home/End and Shift-Home/Shift-End to either move or select to the end/home of the current line (Windows Style)</string>
	<key>uidata</key>
	<dict>
		<key>1176DB39-DA46-4A99-9EC1-5714CEAF2D93</key>
		<dict>
			<key>note</key>
			<string>End</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>45428D70-674B-430A-8730-BC39129B2475</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>5C3DD7D9-EAF8-4ADA-9CCD-9410BFD1ED3D</key>
		<dict>
			<key>note</key>
			<string>Home</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>64C79242-CB05-4A7C-8BC8-317A500E20D7</key>
		<dict>
			<key>note</key>
			<string>Shift + Home</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>C59D52EA-AB16-43AA-AE75-0FCE464663AA</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>DE59D3C5-ACBE-4868-9085-1025E520A186</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E51C6721-4379-4786-96AE-E74841C09CF0</key>
		<dict>
			<key>note</key>
			<string>Shift + End</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F0AD0E85-064D-484D-B02B-4F22B52746AF</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
